
*{padding: 0;
  margin: 0;

}
body{background-color: #E2C2DE;
}

header{background-color:#B8B8DC;
  height: 80px;
  width: 100%;
  position: fixed;
}

h1{
  color: black;
  position: absolute;
  left: 120pt;
  top: 0;
  line-height: 80px;
  background-image: url(image/logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 210px;
  text-indent: -9999px;
}

header ul{
  position: absolute;
  right: 5vw;
  top: 0;
  line-height: 80px;

}

header li{
  display: inline;
  margin-right: 4vw;
}
header a{
  color: #545483;
  text-decoration: none;
}
header a:hover{
  color: #c8f9ff;
  text-decoration: underline
}
.news{
  background-color: #B8B8DC;
  color: #E2C2DE;
  height: 95vh;
  background-image: url(image/istockphoto-2119624053-612x612.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news h2{
font-size: 60px;
margin-top: 60px;
}

.news p{
color: #E2C2DE;
font-size: 18px;
margin: 25px 0;

}

.news a{
color: bisque;
text-decoration: none;
border: 1px solid rgb(123, 125, 248);
padding: 10px 20px;
border-radius: 5px;
}

.slogan{ 
  background-color: #e4c7e2;
  color: #000000;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1.8em;
}

footer{ 
  background-color: #B8B8DC;
  color: #000000;
  height: 60px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  
}

.shop{
  display: flex;
}

.shop img {
  width: 50%;
}

.info{
  width: 50%;
  background-color: #ffd6dd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info h2{
font-size: 40px;
margin-bottom: 30px;
color: #000000;
}

.info p{
  text-align: center;
  line-height: 20em;
}

.product{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 180px 80px;
}

.product div{
  width: 300px;
  text-align: center;
}

.product img{
  width: 300px;
  border-radius: 10px;
}

.product h3{
  font-size: 20px;
  margin: 20px 0;
}

.product p{
  font-size: 14px;
  line-height: 1.6em;
}